@namespace BitzArt.Observable.Extensions.SampleBlazorApp

@page "/books"
@rendermode InteractiveServer

<PageTitle>Books Page</PageTitle>

<div>
    <b>Select an author:</b>
</div>

<select @onchange="OnAuthorSelectedAsync">
    <option selected hidden>-</option>
    @foreach (var author in _authors)
    {
        <option value="@author.Id">
            @author.Name
        </option>
    }
</select>

<div>
    <b>Books List:</b>

    @if (_isLoading)
    {
        <div>Loading...</div>
    }
    else
    {
        @foreach (var book in _books)
        {
            <div>@book.Title</div>
        }
    }
</div>
