@namespace BitzArt.Observable.Extensions.SampleBlazorApp

<div>
    <b>Select Author:</b>
</div>

<InputSelect
    TValue="int"
    Value="_valueId"
    ValueExpression="@(() => _valueId)"
    ValueChanged="OnSelectedAsync">
        @foreach (var value in _values)
        {
            <option value="@value.Id">
                @value.Name
            </option>
        }
</InputSelect>
