@namespace BitzArt.Observable.Extensions.SampleBlazorApp

<div>
    <b>Books List:</b>

    @if (_isLoading)
    {
        <div>Loading...</div>
    }
    else
    {
        @foreach (var book in _books)
        {
            <div>@book.Title</div>
        }
    }
</div>